@use "variables" as v;

// @import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Source+Code+Pro:wght@300;400;700&display=swap");

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  transition: 0.2s ease-in-out;
}
body {
  font-family: v.$fuente_principal;
  font-size: 1.6rem;
  line-height: 1.8;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}

img,
picture {
  width: 100%;
  display: block;
}
