@use "variables" as v;

.seccion {
  margin-bottom: calc(v.$separacion / 2);
  margin-top: calc(v.$separacion / 2);
  .titulo {
    text-align: center;
    padding: 1rem;
    h2 {
      margin: 0;
      padding-bottom: 0.5rem;
      text-align: center;
      color: v.$blanco;
    }
    hr {
      width: 25%;
      height: 2px;
      border: none;
      background: v.$primario;
    }
    p {
      color: v.$blanco;
    }
  }
}

.contenedor {
  max-width: 1200px;
  margin: 0 auto;
}

// Fondos y textos

.txt-azul {
  color: #2965f1;
}
.txt-amarillo {
  color: v.$amarillo;
}
.txt-anaranjado {
  color: v.$anaranjado;
}
